# AWS/S3 credentials for DVC
# Обратитесь к автору проекта за получением ключей доступа
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_DEFAULT_REGION=ru-central1
S3_BUCKET=disimhot

# MLflow tracking
MLFLOW_TRACKING_URI=http://127.0.0.1:8080
# Для Docker:
# MLFLOW_TRACKING_URI=http://mlflow-service:8080
